/*=============================================
=            COMMON STYLES                    =
*
* CSS styles shared between the pages
=============================================*/

/**
 * GENERAL RULES FOR CSS
 * 
 * These are rules for the project CSS. No tool is used to actually make sure 
 * they are followed but I'm watching you 👀
 * 
 * 1. Use always the same colors
 *    $white: #fff
 *    $black: #060606
 *    $grey: #4e4e4e
 *    $light-gray: #d3d3d3 
 *    $light-light-gray: #aaa
 *    $light-light-light-gray: #f6f6f6

 *
 * 2. Use always the same media queries
 *    $mobile: 480px
 *    $tablet: 768px
 *    $desktop: 992px
 *    $desktop-xl: 1200px
 *
 * 3. Use relative misures instead of 'px' to scale based on the device font-size
 *    Example: '2rem' == "2 times the root font size"
 *
 * 4. Order lines alphabetically in a declaration
 *    Example:
 *    .myclass {
 *      background-color: #fff;
 *      color: #000;
 *      display: block;
 *      font-size: 1rem;
 *    }
 */


 
/*----------  General  ----------*/
/* CSS styles with HTML tags as selector and without classes or ids */

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #4e4e4e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-top: 176px; /* Reserve the space for the fixed navbar */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}



/*----------  Layout  ----------*/
/* CSS styles for layout aka "ordering and positioning" elements */

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

/* Force an element to have a "solid" height of its floating children */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.v-centered-wrapper {
  position: relative;
}

.v-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



/*----------  Page common sections  ----------*/

.footer {
  background-color: #060606;
  color: #fff;
  font-size: .875rem;
  padding: 2rem 0;
}

.logo-img {
  height: 4rem;
}

.navbar-container {
  background-color: #fff;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
}

.navbar {
  padding: 1rem 0;
}

.navbar-left,
.navbar-right {
  margin: initial auto;
  text-align: center;
}

/*----------  Components  ----------*/
/* CSS styles for reused components like buttons, lists etc. */

.btn {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

.btn-outline {
  padding: .875rem 3rem;
  border: 2px solid currentColor;
  transition: all .4s ease-out;
}

.btn-outline:hover {
  background-color: #060606;
  color: #fff;
  text-decoration: none;
  transform: translateX(1rem);
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  color: #4e4e4e;
  padding-bottom: 0.5rem;
  position: relative;
  width: 100%;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #4e4e4e;
}

.input:focus+.underline {
  transform: scale(1);
}

textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
  color: #4e4e4e;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.list-item,
.list-item-select {
  display: inline-block;
}

.list-item-select {
  font-weight: bold;
}

.list-item:not(:last-child),
.list-item-select:not(:last-child) {
  margin-right: 1rem;
}

.page-title {
  color: #060606;
  text-align: center;
  margin-top: 0;
}

textarea {
  border: 1px solid #d3d3d3;
  color: 
}

textarea:focus {
  border: 2px solid #4e4e4e;
  outline: none;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #aaa;
}

.underline {
  background-color: #4e4e4e;
  display: block;
  height: 1px;
  position: absolute;
  transform: scale(0, 1);
  transition: all 0.2s linear;
  width: 80%;
  -webkit-transform: scale(0, 1);
  -webkit-transition: all 0.2s linear;
}

/*----------  Utilities  ----------*/
/* CSS styles with only one property */

/* Nothing yet */




/*----------  Media queries  ----------*/
/* CSS styles based on the screen size */

@media (min-width: 480px) {
  body {
    padding-top: 156px;
  }
  
  .container {
    max-width: 720px;
  }

  .half {
    float: left;
    width: 50%;
  }

  .navbar-left {
    text-align: left;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
