.hidden {
    opacity: 0;
}
.place {
  margin: 6rem auto;
}
.btn {
  display: block;
  margin: 2rem auto;
  text-align: center;
  width: 50%;
}

.contactbox {
  box-sizing: border-box;
  display: block;
  position: absolute;
}

.contactbox-field {
  display: block;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
  width: 80%;
}
.contactbox-message{
  display: block;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
  width: 80%;
  resize:vertical;
}


.service {
  margin: 5rem 0;
}

.service-content {
  padding: 1rem;
}

.service-content p {
  width: 80%;
}

.service-photo {
  padding: 1rem;
}



.underl{
  text-decoration:underline;
}

/*----------  Media queries  ----------*/

@media (min-width: 768px) {
  .intro {
    background-image: url('../images/sherlock.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }

  .intro .container {
    padding-right: 10rem;
  }

  .intro-name {
    font-size: 6rem;
  }
}

@media (min-width: 992px) {
  .service {
    margin: 5rem 3rem;
  }

  .service-content {
    padding: 2rem;
  }
  
  .service-photo {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .intro-name {
    font-size: 6rem;
    max-width: 60rem;
  }
}
