/*=============================================
=            COMMON STYLES                    =
*
* CSS styles specific of the study case
=============================================*/

.case {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.case-content {
  margin: 0rem 1rem 1rem 1rem;
}

.case-date {
  font-style: italic;
}

.case-imm {
  display: block;
  margin: auto;
  max-width: 100%;
}

.case-text {
  max-width: 100%;
}

.tag {
  display: none;
}

/*----------  Media queries  ----------*/

@media (min-width: 480px) {
  .case-text {
    clear: left;
    display: block;
    margin: auto;
    max-width: 100%;
    padding-top: 0.1rem;
  }

  .tag {
    display: initial;
    border: 1px solid #4e4e4e;
    border-radius: 0.5rem;
    float: left;
    margin: 0rem 0.5rem 0.5rem 0rem;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .intro {
    background-image: url('../images/casi/intro.jpg');
  }
}

@media (min-width: 992px) {
  .case-imm {
    max-width: 80%;
  }

  .case-text {
    max-width: 80%;
  }
}
