@import url('partials/investigation.css');

.page-caso .col {
  float: none;
  width: 100%;
}

h1,
h2 {
  font-size: 1.25rem;
  margin-top: 0;
  text-align: left;
}

.tag-label {
  background-color: #f6f6f6;
  border-radius: 3px;
  border-left: 3px solid transparent;
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.tag input:checked + .tag-label {
  border-left: 3px solid #c62828;
}

.status {
  border-radius: 50%;
  display: inline-block;
  height: 0.875rem;
  margin: 0 auto;
  width: 0.875rem;
}

.status-resolved {
  background: #8bc34a;
}

.status-progress {
  background: #03a9f4;
}

.status-archived {
  background: #c62828;
}

@media (min-width: 992px) {
  .page-caso .col {
    float: left;
  }

  .col.one-fourth {
    width: 25%;
  }

  .col.three-fourth {
    width: 75%;
  }

  .content {
    padding-left: 2rem;
  }
}
