.hidden {
  opacity: 0;
}

.place {
  margin: 6rem auto;
}

.btn {
  display: block;
  margin: 2rem auto;
  text-align: center;
  width: 50%;
}

.contactbox {
  box-sizing: border-box;
  display: block;
}

.contactbox-field {
  display: block;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
}
.contactbox-message {
  display: block;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
}

.service {
  margin: 5rem 0;
}

.service-content {
  padding: 1rem;
}

.service-photo {
  display: none;
  padding: 1rem;
}

.underl {
  text-decoration: underline;
}

.col.half {
  text-align: center;
  width: 100%;
}

/*--------- Media queries- --------*/

@media (min-width: 768px) {
  .intro {
    background-image: url('../images/contatti/intro.jpg');
  }

  .service-photo {
    display: initial;
  }

  .col.half {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .service {
    margin: 5rem 3rem;
  }
  .service-content {
    padding: 2rem;
  }
  .service-photo {
    padding: 2rem;
  }
}
