@import url('partials/investigation.css');

.btn, .btn-outline {
  margin: auto;
  display: block;
  text-align: center;
  width: min-content;
}

.btn-outline {
  margin-bottom: 1rem;
}

.main-sidebar h2 {
  margin: 0;
  padding: 1rem 0 0 1rem;
}

.case-info {
  margin-top: 0;
  padding: 0 0.5rem;
}

.case {
  color: #d3d3d3;
  
  display: inline-block;
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
  transition: all 0.4s ease-out;
}

.case:hover,
.case-select {
  background-color: #000;
  box-shadow: inset 4px 0 #03a9f4;
  color: white;
  padding-left: 2rem;
}

.descr {
  text-align: left;
}

.navbar-container {
  z-index: 2;
}

.menu-case {
  list-style-type: none;
  padding: 1rem 0;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
}

.menu-title {
  display: none;
}

.new-case {
  background-color: #d3d3d3;
}

table {
  margin-top: 0;
}

input {
  float: right;
  width: 100%;
}

.input-rate {
  width: 100%;
  float: right;
}

.form-field {
  margin: 1rem 0;
}

.forminput {
  border: 1px solid #d3d3d3;
  outline: none;
  width: 100%;
  float: right;
}

.forminput:focus {
  border: 2px solid #4e4e4e;
}

/*----------  Media queries  ----------*/

@media (min-width: 480px) {
  .menu-title {
    color: white;
    padding-bottom: 1rem;
    text-align: center;
    padding-top: 1rem;
  }
}

@media (min-width: 768px) {
  .main-content {
    padding: 1rem 2rem;
  }

  .case-info {
    padding: 0;
  }

  .forminput {
    width: 70%;
  }

  input {
    width: 70%;
  }

  .input-rate {
    width: 70%;
  }

  li {
    padding-top: 0;
  }

  .list-item ul li:hover {
    background: #d3d3d3;
    color: #4e4e4e;
  }

  .menu-title {
    border-bottom: 1px solid #fff;
  }

  .case,
  .case-select {
    display: block;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
