aside {
  background: #4e4e4e;
  position: initial;
  width: 100%;
}

.case {
  color: #d3d3d3;
  font-size: 1.25rem;
}

.case-info {
  margin-top: 0;
  padding: 0 0.5rem;
}

.case-select {
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
}

.case, .case-select {
  display: inline-block;
  margin: 0 0.5rem;
}

.case:hover {
  cursor: pointer;
}

.dashboard {
  float: right;
}

.descr {
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input:checked ~ .investigation-content {
  max-height: fit-content;
}

input[type=checkbox] + label::after {
  content: "+";
}

input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}

label {
  background-color: #f6f6f6;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 3;
  position: relative; 
  padding: 0 0 0 1em;
}

label::after {
  display: block;
  line-height: 3;
  height: 3em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all .35s;
  width: 3em;
  -o-transition: all .35s;
  -webkit-transition: all .35s;
}

.list-item ul {
  display: none;
  position: absolute;
  padding: 0;
  background: #4e4e4e;
  width: fit-content;
}

.list-item ul li {
  color: #fff;
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: 100%;
}

.list-item:hover > ul {
  display: block;
}

.investigation {
  background: white;
  box-shadow: 1px 1px 10px #888888;
  overflow: hidden;
  position: relative;
  width: 100%;
}

 label:hover {
  background-color: #d3d3d3;
}

.investigation-content {
  max-height: 0;
  padding: 0 0.5rem;
  overflow: hidden;
  transition: max-height .35s;
  -o-transition: max-height .35s;
  -webkit-transition: max-height .35s;
}

.investigation-content-title {
  font-weight: bold;
}

li {
  margin: 0;
  padding-top: 0.5rem;
}

.navbar-container {
  z-index: 2;
}
.menu-case {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  white-space: nowrap;
}
.menu-title {
  display: none;
}

table {
  width: 100%;
}

thead {
  background-color: #d3d3d3;
}

tbody th {
  font-weight: normal;
}

.submenu {
  text-align: left;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}


/*----------  Media queries  ----------*/

@media (min-width: 480px) {

  .btn {
    background-color: #4e4e4e;
    color: white;
    display: block;
    text-align: center;
    max-width: 12rem;
    margin: 1rem auto; 
  }
  
  .menu-title {
    color: white;
    padding-bottom: 1rem; 
    text-align: center;
    padding-top: 1rem;
  }

  .dashboard {
    margin: 1rem 1rem;
    width: calc(100% - 2rem);
  }
}

@media (min-width: 768px) {
  aside {
    bottom: 0;
    float: left;
    height: calc(100% - 100px);
    left: 0;
    padding: 0 1rem;
    position: fixed;
    width: 25%;
  }

  .case-info {
    padding: 0;
  }

  li {
    padding-top: 0;
  }

  .list-item ul li:hover {
    background: #d3d3d3;
    color: #4e4e4e;
  }

  .investigation-content-field {
    margin: 0.75rem 0;
  }

  .menu-case {
    height: 100%;
  }

  .dashboard {
    padding-top: 0;
    margin: 1rem 2rem;
    width: calc(100% - 25% - 4rem);
  }

  .menu-title {
    border-bottom: 1px solid #fff;
  }

  .case, .case-select {
    display: block;
    margin: 1rem 0;
  }
}

@media (min-width: 992px) {  
  .menu-case {
    height: 90%;
  }

  .btn {
    height: 7%;
  }
}

@media (min-width: 1200px) {
  aside {
    height: calc(100% - 100px);
    width: 20%;
  }

  .dashboard {
    margin: 1rem 4rem;
    width: calc(100% - 20% - 8rem);
  }
}

