/*=============================================
=            COMMON STYLES                    =
*
* CSS styles specific of the homepage
=============================================*/

.footer {
  clear: left;
}

.intro {
  background-color: #060606;
  color: #fff;
  height: 80vh;
  padding: 2rem 0;
}

.intro .container {
  height: 100%;
}

.intro-name {
  font-size: 4rem;
  margin: 0;
  max-width: 40rem;
}

.history {
  margin: 6rem auto;
}

.method {
  display: block;
  margin: auto;
  border-top: 1px solid #4e4e4e;
  padding: 2rem;
}

.method-content, .method-content-not-last {
  display: initial;
  float: left;
}

.method-content-not-last {
  border-bottom: 1px solid #d3d3d3;
}

.method-content-image {
  display: none;
}

.method-title {
  text-align: center;
}

.service {
  margin: 5rem 0;
}

.service-content {
  padding: 1rem;
}

.service-content p {
  width: 80%;
}

.service-photo {
  padding: 1rem;
}



/*----------  Media queries  ----------*/

@media (min-width: 480px) {
  .method-content-image {
    display: initial;
    float: left;
  }

  .method-content-text {
    width: calc(95% - 105px);
    float: right;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .intro {
    background-image: url('../images/home/sherlock.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }

  .intro .container {
    padding-right: 10rem;
  }

  .intro-name {
    font-size: 6rem;
  }
}

@media (min-width: 992px) {
  .method-content, .method-content-not-last {
    width: 33%;
    padding: 1.5rem;
  }

  .method-content-not-last {
    border-right: 1px solid #d3d3d3;
    border-bottom: 0;
  }

  .method-content-title {
    text-align: center;
  }

  .service {
    margin: 5rem 3rem;
  }

  .service-content {
    padding: 2rem;
  }
  
  .service-photo {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .intro-name {
    font-size: 6rem;
    max-width: 60rem;
  }
}
