.btn {
  display: block;
  margin: 2rem auto;
  text-align: center;
  width: 50%;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.footer-text {
  text-align: center;
}

.loginbox {
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  margin: auto;
  text-align: center;
  width: 20rem;
}

.loginbox-field {
  display: block;
  left: 50%;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
  width: 80%;
}

/*----------  Media queries  ----------*/

@media (min-width: 480px) {
  .loginbox {
    box-shadow: 1px 1px 10px #888888;
    box-sizing: border-box;
  }
}
