/*=============================================
=            COMMON STYLES                    =
*
* CSS styles specific of the homepage
=============================================*/

.intro {
  background-image: url('../images/servizi/intro.jpg');
}

.service {
  margin: 5rem 0;
}

.service-content {
  padding: 1rem;
}

.service-photo {
  padding: 1rem;
}

/*----------  Media queries  ----------*/

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
