.main-sidebar {
  background-color: transparent;
  color: inherit;
}

h1,
h2 {
  font-size: 1.25rem;
  margin-top: 0;
  text-align: left;
}

.results td:nth-child(2),
.results td:nth-child(3) {
  width: 8rem;
}

.actions form {
  display: inline-block;
}

.btn-link {
  color: inherit;
  margin-right: 1rem;
}

@media (min-width: 480px) {
  .main-sidebar,
  .main-content {
    padding-top: 1rem;
  }
}

@media (min-width: 768px) {
  .main-sidebar {
    width: 33.3333%;
  }

  .main-content {
    width: 66.6666%;
  }
}

@media (min-width: 992px) {
  .main-content {
    padding-left: 2rem;
  }
}
